{{! <div id="notifications">
	<div id="successBox" class="alert alert-success" role="alert">{Success
		Message...}</div>
	<div id="loadingBox" class="alert alert-info" role="alert">Loading...</div>
	<div id="errorBox" class="alert alert-danger" role="alert">{Error
		Message...}</div>
</div> }}

<div>
	{{#each msgs}}
		<div class="alert {{class}}">
			{{msg}}
		</div>
	{{/each}}
</div>

<script>
	//Set all success messages to a momentary display status.
	document.querySelectorAll('.alert').forEach(msg=>{ setTimeout(()=>{
	msg.remove(); },5000) }) //Set all success messages to a momentary display
</script>